.containerBusca {
  background-color: #224870;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.containerBusca h2 {
  font-size: 1.7rem;
  color: #f1f1f1;
}

.containerBusca .containerInput {
  display: flex;
  gap: 0.5rem;
  width: 75%;
}

.containerBusca .containerInput input,
.containerBusca .containerInput button {
  padding: 0.6rem;
  border-radius: 3px;
  border: none;
  color: #2b3566;
  outline: none;
}
.containerBusca .containerInput input {
  width: 100%;
  font-size: 1rem;
}

.containerBusca .containerInput button {
  background-color: #4ea5d9;
  cursor: pointer;
  width: 45px;
  align-items: center;
}
.containerBusca .containerInput button svg {
  font-size: 1.1rem;
  fill: #f1f1f1;
}
