.containerUser {
  background-color: #224870;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.containerUser img {
  width: 140px;
  height: 140px;
  border: 4px solid #44cfcb;
  border-radius: 50%;
}

.containerUser .localizacaoUser {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.containerUser .localizacaoUser svg {
  fill: #44cfcb;
  font-size: 1.5rem;
}

.containerUser .localizacaoUser span {
  color: #f1f1f1;
  font-weight: bold;
}

.containerUser .statusUser {
  display: flex;
}

.containerUser .statusUser div {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.containerUser .statusUser div:first-child {
  border-right: 1px solid #4ea5d9;
}

.containerUser .statusUser .quantidadeUser {
  background-color: #44cfcb;
  padding: 0.2rem;
  border-radius: 3px;
}

.containerUser a {
  text-align: center;
  background-color: #4ea5d9;
  padding: 1rem;
  border-radius: 5px;
  opacity: 0.8;
  transition: 0.5s;
  font-weight: bold;
}
.containerUser a:hover {
  opacity: 1;
}
